.dc-chart g.row text {
    fill: #2c3e50;
    font-size: 9px;
    cursor: pointer;
    font-weight: bolder;
}

.dc-chart .pie-slice {
    fill: #2c3e50;
    font-size: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.dc-legend {
    font-size: 9px;
    font-weight: bolder;
}

.dc-chart .pie-slice path {
    stroke: white;
    stroke-width: 1px;
}

.cite-info {
    background-color: #f6f7f6;
    color: #3182bd;
}

.dc-data-table {
    font-size: 12px;
}

.table > tbody > tr > td {
    border: none;
}

.x-axis-label, .y-axis-label {
    font-size: 10px;
    fill: #2c3e50;
}

.axis path {
    stroke: #2c3e50;
}

.dc-data-count {
    margin-top: 0;
    margin-right: 0;
}

.filter-count, .total-count, .total-papers {
    color: #3182bd;
    font-weight: bolder;
}

.dc-title-text {
    font-weight: bolder;
    font-size: 1em;

}

.dc-title-text a {
    color: #7f8c8d;
    font-size: 1.2em;
}

.dc-citation-link {
    color: #3182bd;
    font-size: 1em;
    font-weight: bolder;
}

.dc-published-date {
    font-size: .7em;
    padding: 3px 4px;
    background-color: #f6f7f6;
    color: #2c3e50;
}

/*
  CSS Loader Animation
  from http://tobiasahlin.com/spinkit/
*/

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #3182bd;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}